.main-heading {
    color: transparent;
    background-image: linear-gradient(to right,
            #ff6600,
            #ff0055,
            #ff009d,
            #ff0055,
            #ff6600 
        );
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: colorTransition 10s linear infinite;
}

@keyframes colorTransition {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

