select {
    cursor: pointer;
}

.custom-gray-hover:hover {
    background-color: rgb(235, 235, 235);
}

.display-child-on-hover {
    display: none;
}

.parent-hover:hover .display-child-on-hover {
    display: block;
}

.navbar-bottom-button {
    transition: 0.2s;
}

.navbar-bottom-button:hover {
    background-color: var(--blue-8);
    color: #ffffff;
}