.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    width: 0.1rem;
    background-color: transparent;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: transparent;
}